h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 3px;
}

div.sensor-inner {
	float: left;
	margin: 5px;
	margin-top: 10px;
}

div.sensor {
	clear: left;
	height: 130px;
	margin-bottom: 10px;
}

div.sensor_id {
	float: left;
	padding: 3px;
	margin: 4px;
	border: 1px solid #c0c0c0;
	cursor: pointer;
}

.selected {
	background-color: #c0c0c0;
}

.inner {
	padding: 3px;
}

.button{
	display: block;
	width: 97%;
}

.hidden{
display: none;
}


.float_left {
	float: left;
}

.float_right{
	float: right;
}

.pointer{
	cursor: pointer;
}

.padding5 {
	padding: 5px;
}

.ui-corner-all a {
	text-decoration: none;
}

div.data {
	padding: 5px;
}

div.placeholder{
	height: 400px;
	width: 78%;
}

div.placeholder #infobox{
	position: absolute;
	left: 70px;
	top: 10px;
	width: 300px;
	height: 20px;
	text-align: center;
}

div.overview{
	height: 40px;
	width: 78%;
}
div.menu {
	width: 20%;
	float: right;
}

.menu div{
	width: 100%;
}


.sensor_statistic_table{
	margin: 20px 0px 20px 20px;
}

.level2{
	margin: 7px 0px 20px 20px;
}

.month_header,
.statistic_position{
	background-color: #e0e0e0;
	border: 2px solid #ffffff;
	padding: 5px;
	-moz-border-radius: 8px;
}

.day_header{
	padding: 2px 4px 2px 5px;
	-moz-border-radius: 5px;
}

.sensor_statistic_table{
	border: 1px solid #c0c0c0;	
	padding: 2px 4px 2px 5px;	
	-moz-border-radius: 15px;
	padding: 10px;
}
	
.level4{
	margin: 4px 10px 0px 15px;
	background-color: #ffffff;
}

.even{
	background-color: f0f0f0;
}

div.select-display .sensor_data_change {
	display: inline;
}
div.select-display {
	display: block;
}
.active_element {
	color: darkred;
}
div.date {
	position: relative;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{
	display: none!important;
}
.ui-dialog {
	width: 500px;
}
input,
.button {
	margin: 3px;
}
#adminmenu {
	height: 100%;
}
