h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 3px;
}

div {
	font-family: Verdana,Arial,sans-serif;
}

div.sensor-inner {
	float: left;
	margin: 5px;
	margin-top: 10px;
}

div.sensor {
	clear: left;
	height: 130px;
	margin-bottom: 10px;
}

div.sensor_id,
div.clamp_id {
	float: left;
	padding: 3px;
	margin: 4px;
	border: 1px solid #c0c0c0;
	cursor: pointer;
}

.selected,
.clamp_selected {
	background-color: #c0c0c0;
}

.inner {
	padding: 3px;
}

.button{
	display: block;
	width: 97%;
}

.hidden{
	display: none;
}

.block{
	display: block;
}


.float_left {
	float: left;
}

.float_right{
	float: right;
}

.pointer{
	cursor: pointer;
}

.center{
	text-align: center;
}

.padding5 {
	padding: 5px;
}

.padding10 {
	padding: 10px;
}

.padding15 {
	padding: 15px;
}

.margin5 {
	margin: 10px;
}

.margin10 {
	margin: 10px;
}

.width20 {
	width: 20px;
}

.width35 {
	width: 35px;
}

.width60 {
	width: 60px;
}

.notice{
	color: darkred;
}

.notice_box{
	border: 1px solid darkred;
	border-radius: 5px;
	padding: 5px;
	color: darkred;
}

.notice_box a{
	color: darkred;
}

.spacer {
	height: 15px;
}

.ui-corner-all a {
	text-decoration: none;
}

div.data {
	padding: 5px;
}

#tabs {
	border-bottom: 0px;
}

div.placeholder{
	height: 400px;
	width: 78%;
}

.yeardates{
	height: 400px;
	width: 78%;
}
div.placeholder #infobox{
	position: absolute;
	left: 70px;
	top: 10px;
	width: 300px;
	height: 20px;
	text-align: center;
}

div.overview{
	height: 40px;
	left: 20px;
	width: 74%;
}
div.menu {
	width: 20%;
	float: right;
}

.menu div{
	width: 100%;
}

.switch-link-container{
	height: 36px;
	width: 100%;
	display: block;
}

.switch-link {
	width: 36px;
	height: 36px;
	cursor: pointer;
}

.switch-link-left{
	background: url(../img/bck.png) no-repeat;
}

.switch-link-right{
	background: url(../img/fwd.png) no-repeat;
}

.sensor_statistic_table{
	margin: 20px 0px 20px 20px;
}

.datetime-container {
	padding: 7px;
}

.datetime-container-main {
	border: 1px solid #aaaaaa; background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #222222;
}

div.datetime-container-button {
	background-color: #e0e0e0;
	border: 2px solid #ffffff;
}

.datetime-container-button{
	background-color: #e0e0e0;
	border: 2px solid #c0c0c0;
	padding: 5px;
	-moz-border-radius: 8px;
	cursor: pointer;
}

.datetime-container-inner {
	margin: 20px;
}
.level2{
	margin: 7px 0px 20px 20px;
}

.month_header,
.statistic_position {
	background-color: #e0e0e0;
	border: 2px solid #ffffff;
	padding: 5px;
	-moz-border-radius: 8px;
}

.day_header{
	padding: 2px 4px 2px 5px;
	-moz-border-radius: 5px;
}

.sensor_statistic_table{
	border: 1px solid #c0c0c0;	
	padding: 2px 4px 2px 5px;	
	-moz-border-radius: 15px;
	padding: 10px;
}
	
.level4{
	margin: 4px 10px 0px 15px;
	background-color: #ffffff;
}

.even{
	background-color: f0f0f0;
}

div.select-display .sensor_data_change {
	display: inline;
}

.selection-container{
	width: 70%;
	padding: 0px 15px;
}

.check-container{
	padding-right: 25px;
}

.legend-container {
	padding: 25px 0px 0px 25px;
}

.widged-small{
	width: 48%;
	float:left;
}

div .widged-large{
	width: 48%;
	float:left;
}
div.select-display {
	display: block;
}
.active_element {
	color: darkred;
}
div.date {
	position: relative;
}

#ui-datepicker-div {
	display: none;
} 

.ui-tabs .ui-tabs-hide { height: 100% !important; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{
	display: none!important;
}
.ui-dialog {
	width: 500px;
}
input,
.button,
.textarea {
	margin: 3px;
}
#adminmenu {
	height: 100%;
}
#adminmenu .sensor-inner {
	width: 300px;
}

#adminmenu .sensor_settings_prices {
	width: 340px;
}
.sensor-detail-statistic-data-container {
	padding: 15px;
}

.sensor_settings_prices select{
		float: left;
		margin: 5px;
}

.sensor_price_date_toggler{
	float: left;
	display: block;
}
.sensor_price_dateselect{
	width: 90%;
}
.price_time_range{
	margin-top: 10px;
}

.loader {
	background: #ffffff url(../img/loader.gif) center no-repeat;
	width: 100%;
	height: 100%;
	opacity: .5;
}

li.sensor_clamp_menu{
	display: none;
}
#tabcontainer li.menu_clamp_with_sensor a{
	padding-left: 30px;
}

ul.sensor_hide_helper{
	position: absolute;
	width: 0px;
}

#tabcontainer li.sensor_hide_helper{
	float: right;
	cursor: pointer;
}

#tabcontainer li.sensor_hide_helper a{
	cursor: pointer;
}